*{
    margin:0;
}
.banner{
    height: 350px;
    background:url(./img/page-banner.jpg) center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    color:#fff;
    font-weight: bolder;
    font-style: italic;
    margin:0;
    font-size: 50px;
    letter-spacing: 5px;
}
.manContent{
    padding:65px 0;
    background-color:#efefef;
}
.productItem{
    padding-top: 40px;
    padding-left: 20px;
}
.tabs1{
    margin-top:40px;
    border:none;
}
.tabs1 li{
    color:#9b9b9c;
    margin-right:20px;
    padding:10px 20px;
}
.tabs1 li:hover{
    color:#000;
    cursor: pointer;
}
.active{
    color:#000!important;
    z-index: 1;
    border-bottom: 3px solid #e2214b;
}
.detail2{
    display: none;
}
.detail2 button{
    background-color: #272727;
    color:#fff;
    padding:5px 10px;
    outline:none;
    border:none;
}
.detail3{
    display: none;
}
.detail3 .pull-left{
    margin-right:20px;
    color:#9b9b9c;
}
.productContent{
    border-top:1px solid #efefef;
    padding:30px 20px 50px 20px;
}
.productImg{
    padding:10px 30px;
}
.color>ul,.size>ul{
    list-style: none;
    padding-top:10px;
}
.color>ul li,.size>ul li{
    width:32px;
    height:32px;
    border-radius:16px;
    float:left;
    margin-right:10px;
}
.size>ul li{
    border:2px solid #9b9b9c;
    margin-bottom: 5px;
}
.size>ul>li>a{
    display: inline-block;
    width: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color:#9b9b9c;
}
.pmanPrice{
    margin:40px 0;
    text-align: center;
}
.pmanPrice span:first-child{
    font-size:36px;
    color:#e2214b;
    font-weight: bolder;
    margin-right:20px;
}
.pmanPrice span:last-child{
    font-size: 20px;
    font-weight: bolder;
    color:#9b9b9c;
    text-decoration: line-through;
}
.addCart>div{
    display: inline-block;
    margin-left: 5px;

}
.addCart>div input{
    width: 60px;
    height: 45px;
    border:1px solid #9b9b9c;
    border-right:none;
    outline: none;
    font-size:20px;
    text-align: center;
}
.pmBtn1,.pmBtn2{
    background: transparent;
    border:1px solid #9b9b9c;
    color:#9b9b9c;
    outline: none;
}
.addCart div{
    width:80px;
    position: relative;
}
.pmBtn1{
    position: absolute;
    top:0;
    right:0;
    border-bottom: none;
}
.pmBtn2{
    position: absolute;
    bottom:0;
    right: 0;
    border-top:none;
}
.btn1{
    margin-left:20px;
    width: 200px;
}
.btn1>i{
    margin-right:10px;
    padding-top:5px;
}
.btn1>span{
    line-height: 30px;
}
.relativeProduct{
    background-color:#fff;
    padding: 10px 15px;
    font-weight: bolder;
}
.relativeProduct h4{
    font-weight: bolder;
    color:#272727;
}
.relativeProduct p{
    color:#9b9b9c;
}
.relativeProduct>.pull-right>div i{
    font-size:14px;
    margin-left:2px;
    color:#ffcc00;
}
.img-responsive{
    width: 100%;
}
.mask{
    position:relative;
    width: 100%;
    height: 100%;
    background-color:rgba(226,33,75,0);
    -webkit-transition:background-color 1s;
}
.maskCover{
    display: block;
    width:100%;
    position:relative;
}
.maskCover:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(226,33,75);
    opacity:0.8;
    width: 100%;
    height: 100%;
    animation:eb2214b 1s;
}
@keyframes eb2214b
{
    0%{opacity:0}
    100%{opacity:0.8}
}
.maskContent{
    width: 100%;
    height:80px;
    background-color:#f7f7f7;
    position: absolute;
    bottom: 0;
    padding:5px 15px;
    overflow:hidden;
    display: none;
}
.maskContent>.col-xs-4>p{
    font-size:16px;
}
.maskContent>.col-xs-8>p{
    font-size: 14px;
}
.maskSize li{
    list-style: none;
    float:left;
    margin-right:7px;
    color:#9b9b9c;
}
.maskColor li{
    list-style: none;
    float:left;
    width:12px;
    height:12px;
    border-radius:6px;
    margin-top:2px;
    margin-right:5px;
}
.maskIcon{
    text-align: center;
    width:100%;
    height:100%;
    /*bootstrap*/

    position:absolute;
    transform:translate(0,-65%);
    display:none;
    
}
.maskIconAni{
    animation:maskIcon 0.8s;
}
@keyframes maskIcon{
    0% {transform:translate(0,-100%);}
    5%{transform:translate(0,-90%);}
    50% {transform:translate(0,-60%);}
    70% {transform:translate(0,-68%);}
    100% {transform:translate(0,-65%);}
}
.maskIcon i{
    color:#fff;
    font-size: 24px;
    margin-right:20px;
}
.smallImg{
    list-style: none;
}
.smallImg li{
    float: left;
    width:25%;
    text-align: center;
    cursor: pointer;
}
.smallImg li img{
    width:110px;
}
.active1{
    border:2px solid #666666;
}
.active2{
    box-shadow: 0px 0px 5px #666; 
}
.relativeImg>div:hover{
    cursor: pointer;
}
.relativeBanner{
    overflow: hidden;
}